*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea,select,textarea,p,h1,h2,h3,h4,h5,h6 {font-family: Bahnschrift; margin: 0px;
    color: #212529;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}

body {
    background-color: white;
    height: 100%;
}
header {
    background-color: #E0DECD;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.page {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.mainPage {
    background-color: #E0DECD;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1 1 auto;
}
footer{
    background-color: #E0DECD;
    display: flex;
    justify-content: space-evenly;
}
.emblem {
    padding-left: 0px;
    padding-top: 0px;
}
.tHead{
    margin-bottom: 0px;
    color: #4C4C4C;
}
.btnHead1 {
    float: right;
    display: block;
    background-color: #B5B3A3;
}
.btnHead2 {
    float: right;
    display: block;
    background-color: #B5B3A3;
}
.btnHead1:hover,.btnHead2:hover{
    background-color: #999788;
}

@media (max-width: 500px) {
    header{
        height: 50px;
        border-radius: 0px 0px 30px 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
    .emblem {
        width: 50px;
        height: 100%;
    }
    footer{
        flex-direction: column;
        padding: 20px;
        border-radius: 30px 30px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 18pt;
    }
    h1, h2, h3, h4, h5, h6{
        font-size: 130%;
    }
    .btnHead1, .btnHead2{
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
    .btnHead1{
        padding-left: 1px;
        margin-right: 5px;
    }
    .btnHead2{
        margin-right: 5px;
    }
    .theme {
        width: 15px;
        height: 15px;
    }
    .profile {
        width: 10px;
        height: 13px;
    }
    .logOrReg {
        margin-top: 20px;
        height: 70px;
        width: 100%;
        border-radius: 50px
    }
    .logOrRegTxt{
        font-size: 30pt;
    }
    .txtOfBtn{
        font-size: 18pt;
    }
}
@media (min-width: 501px) and (max-width: 1300px){
    header{
        height: 80px;
        border-radius: 0px 0px 40px 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
    }
    .emblem {
        width: 80px;
        height: 100%;
    }
    footer{
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 40px 40px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 30pt;
    }
    h1, h2, h3, h4, h5, h6{
        font-size: 100%;
    }
    .footerblock {
        margin-top: 10px;
        width: 400px;
    }
    .btnHead1, .btnHead2{
        width: 48px;
        height: 48px;
        border-radius: 50px;
    }
    .btnHead1{
        margin-right: 10px;
    }
    .btnHead2{
        margin-right: 5px;
    }
    .theme {
        width: 23px;
        height: 23px;
    }
    .profile {
        width: 15px;
        height: 18px;
    }
    .logOrReg {
        margin-top: 20px;
        height: 70px;
        width: 80%;
        border-radius: 50px
    }
    .logOrRegTxt{
        font-size: 35pt;
    }
    .txtOfBtn{
        font-size: 18pt;
    }
}
@media (min-width: 1301px){
    .page {
        width: 1280px;
    }
    header{
        height: 60px;
        border-radius: 0px 0px 40px 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
        overflow: hidden;

    }
    .emblem {
        width: 55px;
        height: 100%;
    }
    footer{
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 40px 40px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 28pt;
    }
    h1, h2, h3, h4, h5, h6{
        font-size: 145%;
    }
    .btnHead1, .btnHead2{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    .btnHead1{
        margin-right: 10px;
    }
    .btnHead2{
        margin-right: 7px;
    }
    .theme {
        width: 20px;
        height: 20px;
    }
    .profile {
        width: 15px;
        height: 18px;
    }
    .logOrReg {
        margin-top: 20px;
        height: 70px;
        width: 60%;
        border-radius: 50px;
    }
    .logOrRegTxt{
        font-size: 60pt;
    }
    .txtOfBtn{
        font-size: 30pt;
    }

    .footerblock{
        width:50%;
    }
}


.logOrRegTxt {
    margin-bottom: 0px;
    text-align: center;
}
.logOrReg {
    background-color: #1C1C1C;
    margin-left: auto;
    margin-right: auto;
}
.logOrReg:hover {
    background-color: #111111;
}
.txtOfBtn{
    margin: 0px;
    color: #E0DECD;
    max-font-size: 35px;
}
.footerblock {
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}
.tel{
    color: #212529;
    text-decoration: underline;
}

