*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea,select,textarea,p,h1,h2,h3,h4,h5,h6 {font-family: Bahnschrift; margin: 0px;
    color: #212529;}
input::-ms-clear{display: none;}
button {cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}

body {
    background-color: white;
    height: 100%;
}
header {
    background-color: #E0DECD;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.page {
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.mainPage {
    background-color: #E0DECD;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex:1 1 auto;
    overflow: hidden;
    position: relative;
}
footer{
    background-color: #E0DECD;
    display: flex;
    justify-content: space-evenly;
}
.emblem {
    padding-left: 0px;
    padding-top: 0px;
}
.tHead{
    margin-bottom: 0px;
    color: #4C4C4C;
}
.btnHead1 {
    float: right;
    display: block;
    background-color: #B5B3A3;
}
.btnHead2 {
    float: right;
    display: block;
    background-color: #B5B3A3;
}
.btnHead1:hover,.btnHead2:hover{
    background-color: #999788;
}

p, h1, h2, h3, h4, h5, h6{
    color: #2B2B2BFF;
}

@media (max-width: 500px) {
    header{
        height: 50px;
        border-radius: 0px 0px 30px 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
    .emblem {
        width: 50px;
        height: 100%;
    }
    footer{
        flex-direction: column;
        padding: 20px;
        border-radius: 30px 30px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 18pt;
    }
    .navbtns, h1, h2, h3, h4, h5, h6{
        font-size: 130%;
    }
    .btnHead1, .btnHead2{
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }
    .btnHead1{
        padding-left: 1px;
        margin-right: 5px;
    }
    .btnHead2{
        margin-right: 5px;
    }
    .theme {
        width: 15px;
        height: 15px;
    }
    .profile {
        width: 10px;
        height: 13px;
    }






    .leftPanelContent{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .leftPanel {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        position: relative;
        z-index: 3;
        left: -300px;
    }
    .leftPanelOpener{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnOpener{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .leftPanelCloser{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnCloser{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .profilePanel{
        height: 200px;
        display: flex;
        flex-direction: column;
    }
    .pfpAndDis{
        height: 120px;
        display: flex;
        flex-direction: row;
    }
    .pfp{
        width: 120px;
        height: 120px;
        padding-top: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .icoContainer{
        width: 90px;
        height: 90px;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }
    .profileIco{
        width: 51px;
        height: 65px;
    }
    .discription{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 180px;
        height: 120px;
        padding-left: 15px;
    }
    .disContainer{
        width: 140px;
        height: 90px;
    }
    .disContainer > :first-child {
        text-align: center;
        font-size: 12pt;
        padding-bottom: 5px;
    }

    .disContainer > :not(:first-child) {
        text-align: left;
        padding-bottom: 4px;
    }
    .btnBlock{
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    .btnsUnderPfp{
        width: 120px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
    }
    .btnUnderPfp{
        margin-top: 10px;
        width: 90px;
        height: 20px;
        border-radius: 10px;
    }
    .btnsUnderDis{
        padding-top: 10px;
        padding-left: 15px;
        width: 180px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .btnUnderDis{
        width: 140px;
        height: 20px;
        border-radius: 10px;
    }
    .btnUnderPfp, .btnUnderDis {
        font-size: 14px;
    }
    .navPanel{
        width: 300px;
        height: 100%;
        position: relative;
    }
    .navPanelContent{
        position: absolute;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .datatable{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        padding: 20px;
    }
    .table{
        height: 100%;
        width: 100%;
    }
    .infoBlock{
        margin-bottom: 20px;
        width: 100%;
        height: 70px;
        border-radius: 20px;
    }
    .backroundImg{
        height: 250px;
        width: 350px;
    }




    .infoCase{
        display: flex;
        flex-direction: column;
        font-size: 10pt;
    }
    .infoTitle{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 90px;
        border-radius: 20px;
        cursor: pointer;
    }
    .infoSpoiler{
        display: none;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        text-align: center;
    }
    .infoSpoilerCase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leftInfoTitle{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        min-width: 100px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .centerInfoTitle{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .rightInfoTitle{
        display: flex;
        align-items: center;
        min-width: 100px;
    }
    .leftSpoilerTitle, .centerSpoilerTitle, .rightSpoilerTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .infoTitleText{
        margin-bottom: 4px;
    }
    .select2-container--default .select2-selection--single {
        height: 20px;
    }
    .select2{
        margin-top: 13px;
        margin-bottom: 10px;
        width: 240px !important;
    }
    .select2-container--default .select2-selection--single {
        font-size: 10pt;
    }
    .infoBtns{
        width: 240px;
        height: 20px;
        border-radius: 15px;
    }
    .DiscBtns{
        width: 240px;
        height: 20px;
        border-radius: 15px;
    }
    .message{
        width: 240px;
        height: 200px;
        padding: 15px;
        margin-bottom: 13px;
        margin-top: 25px;
        border-radius: 20px;
    }
    .leftSpoilerTitle{
        width: 240px;
    }
}
@media (min-width: 501px) and (max-width: 1300px){
    header{
        height: 80px;
        border-radius: 0px 0px 40px 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
        overflow: hidden;
    }
    .emblem {
        width: 80px;
        height: 100%;
    }
    footer{
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 40px 40px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 30pt;
    }
    .navbtns, h1, h2, h3, h4, h5, h6{
        font-size: 110%;
    }
    .btnHead1, .btnHead2{
        width: 48px;
        height: 48px;
        border-radius: 50px;
    }
    .btnHead1{
        margin-right: 10px;
    }
    .btnHead2{
        margin-right: 5px;
    }
    .theme {
        width: 23px;
        height: 23px;
    }
    .profile {
        width: 15px;
        height: 18px;
    }




    .leftPanelContent{
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .leftPanel {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        position: relative;
        z-index: 3;
        left: -350px;
    }
    .leftPanelOpener{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnOpener{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .leftPanelCloser{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnCloser{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .profilePanel{
        height: 220px;
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    .pfpAndDis{
        height: 130px;
        display: flex;
        flex-direction: row;
    }
    .pfp{
        width: 130px;
        height: 130px;
        padding-top: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .icoContainer{
        width: 100px;
        height: 100px;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }
    .profileIco{
        width: 58px;
        height: 73px;
    }
    .discription{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 220px;
        height: 130px;
        padding-left: 15px;
    }
    .disContainer{
        width: 180px;
        height: 100px;
    }
    .disContainer > :first-child {
        text-align: center;
        font-size: 14pt;
        padding-bottom: 5px;
    }

    .disContainer > :not(:first-child) {
        text-align: left;
        padding-bottom: 6px;
    }
    .btnBlock{
        height: 90px;
        display: flex;
        flex-direction: row;
    }
    .btnsUnderPfp{
        width: 130px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
    }
    .btnUnderPfp{
        margin-top: 10px;
        width: 100px;
        height: 22px;
        border-radius: 15px;
    }
    .btnsUnderDis{
        padding-top: 10px;
        padding-left: 15px;
        width: 220px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .btnUnderDis{
        width: 180px;
        height: 22px;
        border-radius: 15px;
    }
    .btnUnderPfp, .btnUnderDis {
        font-size: 16px;
    }
    .navPanel{
        width: 350px;
        height: 100%;
        position: relative;
    }
    .navPanelContent{
        position: absolute;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .datatable{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        padding: 20px;
    }
    .table{
        height: 100%;
        width: 100%;
    }
    .infoBlock{
        margin-bottom: 20px;
        width: 100%;
        height: 70px;
        border-radius: 20px;
    }
    .backroundImg{
        height: 350px;
        width: 490px;
    }



    .infoCase{
        display: flex;
        flex-direction: column;
        font-size: 12pt;
    }
    .infoTitle{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        border-radius: 20px;
        cursor: pointer;
    }
    .infoSpoiler{
        display: none;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        text-align: center;
    }
    .infoSpoilerCase{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .leftInfoTitle{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        min-width: 100px;
        margin-bottom: 5px;
    }
    .centerInfoTitle{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .rightInfoTitle{
        display: flex;
        align-items: center;
        min-width: 100px;
    }
    .leftSpoilerTitle, .centerSpoilerTitle, .rightSpoilerTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .infoTitleText{
        margin-bottom: 4px;
    }
    .select2-container--default .select2-selection--single {
        height: 22px;
    }
    .select2{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 240px !important;
    }
    .select2-container--default .select2-selection--single {
        font-size: 12pt;
    }
    .infoBtns{
        width: 240px;
        height: 20px;
        border-radius: 15px;
    }
    .DiscBtns{
        width: 240px;
        height: 20px;
        border-radius: 15px;
    }
    .message{
        width: 240px;
        height: 200px;
        padding: 15px;
        margin-bottom: 10px;
        margin-top: 25px;
        border-radius: 20px;
    }
    .leftSpoilerTitle{
        width: 240px;
    }
}
@media (min-width: 780px){
    .infoSpoilerCase{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 1301px){
    .page {
        width: 1280px;
    }
    header{
        height: 60px;
        border-radius: 0px 0px 40px 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .mainPage{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
        overflow: hidden;

    }
    .emblem {
        width: 55px;
        height: 100%;
    }
    footer{
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 40px 40px 0px 0px;
    }
    .embdiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .tHead{
        font-size: 28pt;
    }
    .navbtns, h1, h2, h3, h4, h5, h6{
        font-size: 145%;
    }
    .btnHead1, .btnHead2{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    .btnHead1{
        margin-right: 10px;
    }
    .btnHead2{
        margin-right: 7px;
    }
    .theme {
        width: 20px;
        height: 20px;
    }
    .profile {
        width: 15px;
        height: 18px;
    }



    .leftPanelContent{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .leftPanel {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        position: relative;
        z-index: 3;
        left: -400px;
    }
    .leftPanelOpener{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnOpener{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .leftPanelCloser{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnCloser{
        height: 230px;
        width: 20px;
        border-radius: 0px 10px 10px 0px;
    }
    .profilePanel{
        height: 230px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    .pfpAndDis{
        height: 140px;
        display: flex;
        flex-direction: row;
    }
    .pfp{
        width: 140px;
        height: 140px;
        padding-top: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .icoContainer{
        width: 110px;
        height: 110px;
        border-radius: 22px 22px 22px 22px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }
    .profileIco{
        width: 63px;
        height: 81px;
    }
    .discription{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 260px;
        height: 140px;
        padding-left: 15px;
    }
    .disContainer{
        width: 220px;
        height: 110px;
    }
    .disContainer > :first-child {
        text-align: center;
        font-size: 14pt;
        padding-bottom: 5px;
    }

    .disContainer > :not(:first-child) {
        text-align: left;
        padding-bottom: 6px;
        font-size: 12pt;
    }
    .btnBlock{
        height: 90px;
        display: flex;
        flex-direction: row;
    }
    .btnsUnderPfp{
        width: 140px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
    }
    .btnUnderPfp{
        margin-top: 10px;
        width: 110px;
        height: 24px;
        border-radius: 19px;
    }
    .btnsUnderDis{
        padding-top: 10px;
        padding-left: 15px;
        width: 220px;
        height: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .btnUnderDis{
        width: 220px;
        height: 24px;
        border-radius: 19px;
    }
    .btnUnderPfp, .btnUnderDis {
        font-size: 19px;
    }
    .navPanel{
        width: 400px;
        height: 100%;
        position: relative;
    }
    .navPanelContent{
        position: absolute;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .datatable{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        padding: 20px;
    }
    .table{
        height: 100%;
        width: 100%;
    }
    .infoBlock{
        margin-bottom: 20px;
        width: 100%;
        height: 90px;
        border-radius: 20px;
    }
    .backroundImg{
        height: 450px;
        width: 590px;
    }
    .infoCase{
        display: flex;
        flex-direction: column;
        font-size: 12pt;
    }
    .infoTitle{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        border-radius: 20px;
        cursor: pointer;
    }
    .infoSpoiler{
        display: none;
        border-radius: 0px 0px 20px 20px;
        width: 100%;
        text-align: center;
    }
    .infoSpoilerCase{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .leftInfoTitle{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        min-width: 100px;
        margin-bottom: 5px;
    }
    .centerInfoTitle{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .rightInfoTitle{
        display: flex;
        align-items: center;
        min-width: 100px;
    }
    .leftSpoilerTitle, .centerSpoilerTitle, .rightSpoilerTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .infoTitleText{
        margin-bottom: 4px;
    }

    .select2-container--default .select2-selection--single {
        height: 25px;
    }
    .select2{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 280px !important;
    }
    .select2-container--default .select2-selection--single {
        font-size: 12pt;
    }
    .infoBtns{
        width: 280px;
        height: 25px;
        border-radius: 15px;
    }
    .DiscBtns{
        width: 200px;
        height: 25px;
        border-radius: 15px;
    }
    .message{
        width: 200px;
        height: 150px;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 20px;
    }
    .leftSpoilerTitle{
        width: 200px;
    }
}

#leftPanel{
    transition: all 0.1s ease;
}
.profilePanel{
    background-color: #E0DECD;
}
.btnOpener, .btnCloser{
    background-color: #2B2B2B;
}
.btnCloser:hover, .btnOpener:hover{
    background-color: #1c1c1c;
}
.navPanel{
    background-color: #B5B3A3;
}
.hiden{
    display: none;
}
.icoContainer{
    background-color: #B5B3A3;
}
.btnUnderPfp, .btnUnderDis {
    background-color: #B5B3A3;
    color: #2B2B2BFF;
}
.btnUnderPfp:hover, .btnUnderDis:hover {
    background-color: #999788;
}
.blur{
    transition: all 0.1s ease;
    filter: blur(4px);
    pointer-events: none;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift;
}




.navbtns{
    background-color: rgba(0, 0, 0, 0);
    color: #2B2B2BFF;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}
.navbtns::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2B2B2BFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.headerTxtOfNav{
    display: flex;
    justify-content: center;
    width:100%;
}
.navbtns:hover::after {
    visibility: visible;
    transform: scaleX(1);
}
.navBlocks{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navBlocks > :first-child {
    justify-content: center;
    padding-bottom: 10px;
}
.backgroundOfTable{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.1s ease;
    filter: blur(4px);
    pointer-events: none;
}




.infoTitle{
    background-color: #B5B3A3;
}
.infoSpoiler{
    background-color: #d0cebd;
}
.select2-container--default .select2-selection--single {
    background-color: #ffffff;
    border: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #1C1C1C;
    border-radius: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: auto;
}
.select2-dropdown{
    border-radius: 10px;
    overflow: hidden;
}
.select2-dropdown {
    background-color: #ffffff;
    border: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4C4C4C;
    font-family: Bahnschrift;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #b2b2b2;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d7d7d7;
    color: #4C4C4C;
    font-family: Bahnschrift;
}
.select2-results {
    color: #4C4C4C;
    font-family: Bahnschrift;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 20px;
}